<h1>Choose a Report</h1>

<h2>Your Accounts:</h2>
<ul>
  <% @user_account_lists.each do |account_list| %>
    <li><%= link_to account_list['attributes']['name'], stat_weekly_path(account_list['id'], env: params[:env]) %></li>
  <% end %>
</ul>

<h2>People You Coach:</h2>
<ul>
  <% @coaching_account_lists.each do |account_list| %>
    <li><%= link_to account_list['attributes']['name'], stat_weekly_path(account_list['id'], env: params[:env]) %></li>
  <% end %>
</ul>

<h2>Group Report:</h2>
<i>Select the accounts to include in your group report.</i>

<%= form_with url: group_score_card_stats_path, method: :get do |form| %>
 <div class="form-inputs">
    <% @coaching_account_lists.each do |account_list| %>
      <%= form.check_box :stat_ids, {multiple: true}, account_list['id'], nil %>
      <%= form.label :stat_ids, "#{account_list['attributes']['name']}" %><br>
    <% end %>
    <%= form.label :target_date, "Select Month:" %>
    <%= form.select :target_date, (0..11).map{ |i| "#{Date::MONTHNAMES[(Date.today - i.month).month]} #{(Date.today-i.month).year}" } %>
    <%= form.hidden_field :env, value: params[:env] %>
  </div>
  <%= form.submit "View Report" %>
<% end %>
