<h1>Data for <%= params[:id] %></h1>

<table>
  <% @table.each do |row| %>
    <tr>
      <% row[:cells].each do |cell| %>
        <% if row[:type] == 'header' %>
          <th colspan="<%= cell[:colspan] %>" class="<%= cell[:class] %>"><%= cell[:text] %></th>
        <% else %>
          <td colspan="<%= cell[:colspan] %>" class="<%= cell[:class] %>"><%= cell[:text] %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<p>
  <%= @data['data'].first['attributes'] %>
</p>
