<h1>Data for <%= @account_list['attributes']['name'] %></h1>
<%= link_to 'Pick Different Account List', stats_path(token: params[:token], env: params[:env]) %>

<table>
  <% @table.each do |row| %>
    <tr>
      <% row[:cells].each do |cell| %>
        <% if row[:type] == 'header' %>
          <th colspan="<%= cell[:colspan] %>" class="<%= cell[:class] %>"><%= cell[:text] %></th>
        <% else %>
          <td colspan="<%= cell[:colspan] %>" class="<%= cell[:class] %>"><%= cell[:text] %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
