<!DOCTYPE html>
<html>
  <head>
    <title>EmfReport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%
=begin%>
 <%= javascript_pack_tag 'application' %> 
<%
=end%>
  </head>

  <body>
    <div class="mui-container">
      <%= yield %>
    </div>
  </body>
</html>
